<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clothing_type.name %>
</p>

<%= link_to 'Edit', edit_clothing_type_path(@clothing_type) %> |
<%= link_to 'Back', clothing_types_path %>
