    <div class="row">
      <div class="col-xs-12">
        <h1><%= @header %> | Find the best clothes!</h1>
      </div>
    </div>



    <%= form_tag("/store/search", method: "get", class:"form", enforce_utf8:false) do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." name="q">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Search"/>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div>
    <% end %>

  <div class="row">
    <div class="col-xs-6 center">
      <h3>Listing Clothing Types</h3>
      <ul>
      <% @clothing_types.each do |clothing_type| %>
          <li><%= clothing_type.name %></li>
      <% end %>
       </ul>
    </div>
    <div class="col-xs-6 center">
      <h3>Listing Brands</h3>
      <ul>
        <% @brands.each do |brand| %>
              <li><%= brand.name %></li>
        <% end %>
      </ul>
    </div>
  </div>




