<h1>Store#search</h1>
<p>Find me in app/views/store/search.html.erb</p>
<p>Search Term: <%= @query %></p>



<h1>Listing Results</h1>

  <% @results.each do |result| %>
        <%= result %>
  <% end %>
